@model SmallAds.Models.Ads.UpdateAdVM

@{
    ViewBag.Title = "AdUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="tileCenter">Edit Ad</h1>
<div class="grid offset">
    <div><a class="button backBtn" href="/Ads/Index">Back</a></div>
    <br />
    <br />
    <form action="/Ads/Update" method="post">

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CreatorId)

        <div class="row">
            <div class="col-1">Title:</div>
            <div class="col-2">@Html.TextBoxFor(m => m.Title)</div>
            <div class="errorMsg col-2">@Html.ValidationMessageFor(m => m.Title)</div>
        </div>
        <div class="row">
            <div class="col-1">Text:</div>
            <div class="col-2">@Html.TextAreaFor(m => m.Text, new { @class = "form-control", @cols = 20, @rows = 10 })</div>
            <div class="errorMsg col-3">@Html.ValidationMessageFor(m => m.Text)</div>
        </div>
        <div class="row">
            <br />
            <div class="col-3"><input type="submit" value="Update" /></div>
        </div>
    </form>
</div>
